@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
body header {
  height: 100px;
  background-color: #fff;
  padding: 0 100px 0 54px;
  display: flex;
  align-items: center;
}
body header .logo {
  display: flex;
  align-items: center;
}
body header .logo h3 {
  margin-left: 5px;
  font-size: 34px;
  font-weight: 700;
}
body header .menu {
  display: flex;
  align-items: center;
  margin-left: 266px;
}
body header .menu li {
  font-size: 16px;
  font-weight: 500;
  margin-right: 75px;
  cursor: pointer;
}
body header .menu li:last-child {
  margin-right: 0;
}
body header .menu li a {
  text-decoration: none;
}
body header .menu li a:hover {
  color: #ff6c44;
}
body header .icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
body header .icons li {
  margin-right: 45px;
  cursor: pointer;
}
body header .icons li:last-child {
  margin-right: 0;
}
body section.banner {
  background-image: url("../../assest/banner-home.png");
  height: 717px;
  position: relative;
}
body section.banner .content {
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background: #fff3e3;
  position: absolute;
  top: 157px;
  right: 58px;
  padding: 62px 43px 37px 41px;
}